<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-xxl-3">
                <!-- <kpi-dept-filter [deptList]="deptList"></kpi-dept-filter> -->
                <nb-select placeholder="Select Department" [(selected)]="selectedItem" hero status="primary">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="col-xxl-3">
                <!-- <kpi-dept-filter [deptList]="deptList"></kpi-dept-filter> -->
                <nb-select placeholder="Select Category" [(selected)]="selectedItem" hero status="primary">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="col-xxl-3">
                <!-- <kpi-dept-filter [deptList]="deptList"></kpi-dept-filter> -->
                <nb-select placeholder="Select Product" [(selected)]="selectedItem" hero status="primary">
                    <nb-option value="1">Option 1</nb-option>
                    <nb-option value="2">Option 2</nb-option>
                    <nb-option value="3">Option 3</nb-option>
                    <nb-option value="4">Option 4</nb-option>
                </nb-select>
            </div>
            <div class="col-xxl-3">
                <input nbInput fullWidth status="info" placeholder="DATE RANGE" [nbDatepicker]="formpicker">
                <nb-rangepicker #formpicker></nb-rangepicker>
            </div>
        </div>
    </nb-card-body>
</nb-card>