<!-- <nb-flip-card [showToggleButton]="false" [flipped]="flipped"> -->
<!-- <nb-card-front> -->
<nb-card size="xsmall">
  <kpi-mau-panel-front></kpi-mau-panel-front>
  <!-- <i class="nb-arrow-right" (click)="toggleFlipView()"></i> -->
</nb-card>
<!-- </nb-card-front> -->
<!-- <nb-card-back> -->
<!-- <nb-card size="xsmall"> -->
<!-- <kpi-mau-panel-back></kpi-mau-panel-back>
      <i class="nb-arrow-right" (click)="toggleFlipView()"></i> -->
<!-- </nb-card> -->
<!-- </nb-card-back> -->
<!-- </nb-flip-card> -->